src/gen/schemas/openfl.xsd

<xs:schema targetNamespace="openfl" xmlns="openfl" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="AssetLibrarySchemaTypeValue">
<xs:choice>
<xs:element ref="empty:DefaultAssetLibrary" />
<xs:element ref="AssetLibrary" />
</xs:choice>
</xs:complexType>

<xs:complexType name="AssetDataSchemaTypeValue">
<xs:sequence><xs:element ref="AssetData"/></xs:sequence></xs:complexType>

<xs:complexType name="LibSchemaTypeValue">
<xs:sequence><xs:element ref="Lib"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetsSchemaTypeValue">
<xs:sequence><xs:element ref="Assets"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetCacheSchemaTypeValue">
<xs:sequence><xs:element ref="AssetCache"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetLibrarySchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="eventCallback" type="xs:string"/>
</xs:sequence>
<xs:attribute name="eventCallback" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetDataSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="path" type="xs:string"/>
<xs:element name="type" type="xs:string"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="path" type="xs:string"/>
<xs:attribute name="type" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LibSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetCacheSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="bitmapData" type="xs:string"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="font" type="xs:string"/>
<xs:element name="sound" type="xs:string"/>
</xs:sequence>
<xs:attribute name="bitmapData" type="xs:string"/>
<xs:attribute name="enabled" type="xs:boolean"/>
<xs:attribute name="font" type="xs:string"/>
<xs:attribute name="sound" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="AssetLibrary" type="AssetLibrarySchemaType"/>
<xs:element name="AssetData" type="AssetDataSchemaType"/>
<xs:element name="Lib" type="LibSchemaType"/>
<xs:element name="Assets" type="AssetsSchemaType"/>
<xs:element name="AssetCache" type="AssetCacheSchemaType"/>
</xs:schema>
